.amount-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.unit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.amount-input {
  width: 65%;
}

.unit-selector {
  z-index: 0;
  width: 65%;
}

.unit-viewer {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  margin-top: 3%;
}

.unit-help {
  border: solid 1px;
  background-image: url('../../media/img/icons/help.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  margin-left: 5%;
  width: 5%;
}

.value-viewer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3%;
}

.payment-coin-selector { /* div */
  width: 100%;
  margin: 1% 0% 0% 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-coin-button { /* boton */
  width: 30%;
  height: 4rem;
}

.selected-payment-coin-button {
  width: 30%;
  height: 4rem;
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}

.value-conversor {
  width: 100%;
}

.usd-value {
  margin-left: 5%;
}

@media screen and (max-width: 900px) {
  
  .value-viewer {
    margin-top: 3.5%;
  }

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}