.window {
  width: 35%;
}

@media screen and (max-width: 1600px) {
  .window {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .window {
    width: 70%;
  }
}

@media screen and (max-width: 900px) {
  .window {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .window {
    width: 85%;
  }
}

@media screen and (max-width: 370px) {
  .window {
    width: 95%;
  }
}
